body{
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-top: 1px solid #ddd;
  }
  
  th {
    background-color: #f5f5f5;
    font-weight: bold;
  }

  td{
    padding-right: 50px;
    position: relative;
  }

  .exercices{
    text-align: center;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 1%;
  }
  
  .pagination a {
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 25px;
  }
  
  .pagination a:hover {
  
    background-color: #405fac;
  }
  
  .pagination a:active {
    background-color: #405fac;
    color: white;
  }
  
  .section_filter{
    display: flex;
    flex-direction: column;
    font-size: larger;
    font-weight: 400;
  }
  
  .container_filter{
    display: flex;
  }
  .container{
    background-color: #ffffff;
    padding-top: 7vw;
    height: 70%;
    width: 85%;
  }
  
  .containerExercise{
    background-color:#EFF2F4;
    padding: 2vw;
  }
  
  .section_inside_exercise{
    background-color: #ffffff;
    padding: 2vw;
    border-radius: 7.36px;
  }
  
  .style_filter{
    width: 16vw;
    padding: 1vw;
    color: grey;
    border: solid 2px whitesmoke;
    border-radius: 10px;
    display: flex;
    margin-right: 30px;
  }
  
  .style_submit{
    margin-top: 17px;
    color: #757575;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 11vw;
    padding: 1vw;

  }
  
  .style_title{
    color:rgb(96,96,96);
    font-size:medium;
  }
  
  .reseach_button:hover{
    cursor: pointer;
  }
  
  .color_text{
    color: #1B3168;
  }
  
  .section_column{
    border-spacing: 0;
    border: solid 1px #ddd;
    border-radius: 10px;
  }
  
  .section_title_column_left{
    border-top-left-radius: 10px;
    
  }
  
  .section_title_column_right{
    border-top-right-radius: 10px;
  }
  .section_title_title_column_right{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

.style_filter_file-1{
  margin-left: 15px;
}

.style_filter_file-2{
  margin-left: 30px;
}


.test-1{
  position: absolute;
  left: 5px;
  bottom: 10px;
}

.test-2{
  position: absolute;
  right: 109px;
  bottom: 10px;
}

.color_police_table{
  color: #74828F;
}

.style_filter_key_word{
  background-color: pink;
}