.connect {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: end;
    gap: 1vw;
    padding-right: 10vw;
    height: 5vw;
    width: 90%;
    font-size: 0.5vw;
    background-color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    white-space: initial;
    width: 98%;
    margin-left: 2%;
}
.grey-bloc {
    background-color: rgb(217, 221, 321);
    width: 90%;
    padding: 30px;
    padding-bottom: 80px;
}

.grey-bloc h1 {
    color: rgb(27, 49, 104);
    font-weight: 500;
}

.grey-bloc a {
    text-decoration: none;
    color: rgb(27, 49, 104);
}

.description-form {
    background-color: #ffffff;
    padding: 30px;
    padding-bottom: 15%;
}

form {
    margin-bottom: 5%;
}

.form-password {
    margin-top: 2%
}

.form-option {
    margin-top: 2%;
    display: flex;
    text-align: end;
    gap: 10%;
}

input[type=text], input[type=password] {
    width: 450px;
    height: 35px;
    padding-left: 10px;
}

label {
    opacity: 0.7;
    font-weight: 500;
}

.form-option input[type=submit] {
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    font-size: 1.1em;
    border: none;
    border-radius: 10px;
    opacity: 0.5;
    font-weight: 600;
    letter-spacing: 1px;
}

.form-option a {
    align-self: center;
    color: black;
    opacity: 0.7;
    text-decoration: none;
    
}


