body {
  margin: 0;
  overflow-x: hidden;
  overflow-y  : hidden;
  font-family: "Poppins", sans-serif;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.slideBar a {
  text-decoration: none;
}

.slideBar {
  width: 18vw;
  height: 100vh;
  padding-left: 2vw;
  display: flex;
  gap: 1vw;
  flex-direction: column;
  box-shadow: 1px 0px 5px #b3b3b3;
  font-family: "Poppins", sans-serif;
}

.slideBar h1 {
  font-size: 1.5vw;
  color: #1B3168;
}

.slideBar h3 {
  font-size: 0.8vw;
}

.slidetitle {
  display: flex;
  gap: 1vw;
  margin-top: 10px;
}

.slidetitle img {
  align-self: center;
  width: 3vw;
  height: 3vw;
}

.slide {
  width: 16vw;
  filter: grayscale(100%);
  margin-top: 1vw;
  display: flex;
  color: #5D7285;
  gap: 1vw;
}

.slide:hover {
  filter: grayscale(0%);
  background-color: #F6F6F6;
  color: #1B3168;
}

.slide img {
  margin-top: 0.15vw;
  width: 2.5vw;
  height: 2.5vw;
}